@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600&family=Roboto:wght@100&family=Young+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none !important;
}

body {

  user-select: none;
  background: linear-gradient( 180deg ,#0c0c1d, #010125);
  font-family: 'Poppins', sans-serif;
  color: gray;
  overflow-x: hidden;
  

}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {

  scroll-snap-align: center;
}
.homeSection{
  height: calc(100vh - 100px) !important;
}
.navSection{
  height:100px;
}