.contact {
    height: 100vh;
    max-width: 1366px;
    margin: auto;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center !important;
}
.typo{
    margin-top: 30px;
    width: 40%;
    text-align: center;
    font-size: 50px;
    text-wrap: nowrap;
    font-weight: 700;
}

.contact .formContainer {

    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 100%;
}
.contact .formContainer .phoneSvg {
    z-index: -1;
    stroke: orange;
    stroke-width: 0.1;
    position: absolute;
    margin: auto;
}
.dummy{
    width: 400px;
    height: 400px;
    background-color: aqua;
}
.contact .formContainer form {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.contact .formContainer input,
.contact .formContainer textarea {
    
    padding: 20px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

.contact .formContainer button {
    padding: 20px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
}

@media only screen and (max-width: 800px) {

    .form{
     width: 100% !important;
    }
    .typo{
        width: 100%;
        margin: 0 !important;
        padding-top: 100px;
        font-size: 26px;
    }
    .contact .formContainer {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .contact .formContainer input,
.contact .formContainer textarea {
    padding: 10px 15px;
    width: 100%;
    
}
    .contact .formContainer button {
        width: 100%;
    }
}
