.skills-section{
   
    width: 100%;
    padding: 30px;
    background-color: rgba(7, 7, 78, 0.616);
    border-radius: 20px;
    overflow: hidden;
   

}
.skill-item{
    
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.862);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #000;
}
.gridParent{
    padding: 30px;
    background-color: rgba(7, 7, 78, 0.355);
    border-radius: 20px;
    overflow: hidden;
}
.skill-item:hover{

    box-shadow: 5px 5px 15px rgba(70, 67, 67, 0.401);
}
.skill-item h3{
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (max-width: 800px) {

    .skills-section{
        background-color: #000;
        width: 100vw;
    }
    .gridParent{
        width: 100%;
    }
    .skill-item h3{
        font-size: 13px;
    }
}