.portfolio{

    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progress{

    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size:36px;  
    /* background-color: #14142a; */

   
}
.progressBar{

    height: 10px;
    background-color: white;
}
.container{
    padding-top: 150px;
    display: flex;
    align-items:center;
    justify-content: center;
    
    height: 100vh;

    overflow: hidden;
    margin-bottom: 30px;
}
.wrapper{
    width: 100%; 
    height: 100%;
    margin: auto;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    color: black;
}


    
.imageContainer{

    display: flex;
    align-items: center;
    flex: 1;
    height: 40%;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.textContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: justify;

    h2{
        font-size: 72px;
        text-wrap: nowrap;

    }
    h3{
        font-size: 40px;
        text-align: center;
    }

    p{
        font-size: 20px;
        color: gray;

    }
    button{
        background-color: orange;
        padding: 20px;
        width:200px;
        border:none;
        border-radius: 10px;
        cursor: pointer;
    }

    button:hover{
        background-color: rgb(209, 149, 36);

    }
}
.technologies{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.technology{
    width: 35px;
    height: 35px;

    img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 800px) {

    .container{
        padding-top: 100px;

        
    }
    .imageContainer{
        max-height: 50%;
    }
    .technologies{
        display: none;
    }
    .wrapper{
      
        margin: 0;
        display: flex !important;
        flex-direction: column;
        gap: 0;
        margin: 10px;
    }
    .progress{
        padding-top: 20px;
        font-size: 25px;
    }
    .textContainer{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: justify;
        
    
        h2{
            font-size: 40px;
            text-wrap: nowrap;
    
        }
        h3{
            text-wrap: nowrap;
            font-size: 15px;
            text-align: center;
        }
    
        p{
            font-size: 15px;
            color: gray;
    
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        button{
            background-color: orange;
            padding: 10px  15px;
            gap: 20px;
            width:auto;
            border:none;
            border-radius: 10px;
            cursor: pointer;
        }
    
        button:hover{
            background-color: rgb(209, 149, 36);
    
        }
    }
}